<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tasks API</title>
    <style>
      .container{
        margin-left: 10%;
        margin-top: 5%;
      }
    </style>
  </head>
  <body>
    <div class="container">
    <div class="root">
      <h1> Welcome to {{ title }} </h1>
      <app-task></app-task>
    </div>
<h1>Restful Tasks API</h1>
<button (click)="getTasksFromService()">Get all tasks</button>
<div *ngFor="let task of tasks">
    <p>{{task.title}}</p>
    <button (click)="taskToShow(task)">Show</button>  <!-- In this example, the taskToShow method is saving the selected task as selectedTask -->
</div>
<!-- Nest the task component and bind its taskToShow to the selectedTask in the root component  -->
<app-task *ngIf="selectedTask" [taskToShow]="selectedTask"></app-task> 





    <h1> New Task </h1>
    <form (submit)="onSubmit()">
        <p> {{ newTask | json }} </p>
        <div class="form-group">
          <label for="title">Title</label>
            <input class="form-control col-6" type="text" name="newTask.title" [(ngModel)]="newTask.title" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
            <input class="form-control col-6" type="text" name="newTask.description" [(ngModel)]="newTask.description" />
        </div>
        <div class="form-group">
          <label for="completed">Completed</label>
            <input class="form-control col-6" type="text" name="newTask.completed" [(ngModel)]="newTask.completed" />
        </div>
        <input type="submit" class="btn btn-primary" value=" Create Task " />
    </form>
    <br><hr> 
    <h1> Task List </h1>
    <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">First Task</h2>
          <p class="card-text">First Task Details.</p>
          <a href="#" class="btn btn-primary">Edit</a> |
          <a href="#" class="btn btn-primary">Delete</a>
        </div>
      </div>
      <br>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2 class="card-title">Second Task</h2>
          <p class="card-text">Second Task Details.</p>
          <a href="#" class="btn btn-primary">Edit</a> |
          <a href="#" class="btn btn-primary">Delete</a>
        </div>
      </div>
    </div>
    <div class = "col">
        <h1> Edit task </h1>
              <form (submit)="onSubmit()">
                <p> {{ newTask | json }} </p>
                <div class="form-group">
                  <label for="title">Title</label>
                    <input class="form-control col-8" type="text" name="newTask.title" [(ngModel)]="newTask.title" />
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                    <input class="form-control col-8" type="text" name="newTask.description" [(ngModel)]="newTask.description" />
                </div>
                <div class="form-group">
                  <label for="completed">Completed</label>
                    <input class="form-control col-8" type="text" name="newTask.completed" [(ngModel)]="newTask.completed" />
                </div>
                <input type="submit" class="btn btn-primary" value=" Edit Task " />
              </form>
              <br><br><br>
        </div>
      </div>
    </div>


        <!-- <h1>Restful Tasks API</h1>
        <br>
          <button style="background:pink; font-size:30px; border-radius: 60px" (click)="onButtonClick()" >Get All Tasks</button>
        <h2> All the tasks: </h2>
        <ul>
            <li *ngFor = "let task of tasks"> {{task.title}} -- {{task.description}} <a style="background-color:grey; border-radius:50px; color:black" href=""> Show </a> </li>
        </ul>
        <br><br>
        <h2> The third task is: </h2>
        <ul>
            <li *ngIf = "tasks[2]"> {{tasks[2].title}} -- {{tasks[2].description}} </li>
        </ul> -->
          <!-- <button (click)="onButtonClickParam(5)">Click me!</button>
          <button (click)="onButtonClickParams(5, 'hello')">Click me!</button>
          <button (click)="onButtonClickEvent($event)">Click me!</button> -->
      <!-- <hr>

      </div> -->
    <router-outlet></router-outlet>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

